

body{

    background-image: url(village-min.jpg);
}



.kanji{
display: block;
margin-left: auto;
margin-right: auto;
width: 10%;  
height: 10%;
object-fit: cover;
border: 5px solid blue;
   
}



.top .reg-usuario{
margin-top: 0%;
margin-left: 90%;

}

.top .ingresar{
    margin-top: 0%;
    margin-left: 84%;

}